.flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
  justify-content: center;
}

.profile {
  border-style: groove;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
  width: 20%;
  height: 30%;
}